@font-face{
    font-family:"Roboto";
    src:url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face{
    font-family:"Sofia";
    src:url('../fonts/Sofia/Sofia-Regular.ttf');
}

@font-face{
    font-family:'Princess_Sofia',cursive;
    src:url('../fonts/Princess_Sofia/PrincessSofia-Regular.ttf');
}
@font-face{
    font-family: "Gugi",cursive;
    src:url('../fonts/Gugi/Gugi-Regular.ttf');
}